<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Tab Alarm</title>
		<link rel="stylesheet" href="../styles/review_alarms.css">
	</head>

	<body>
		<div id="all">
			<div id="data-table">
				<table>
					<thead>
						<tr>
							<th id="edit-col">Edit</th>
							<th id="del-col">Delete</th>
							<th id="url-col">URL</th>
							<th id="date-col">Date</th>
							<th id="time-col">Time</th>
							<th id="rep-col">Repeat</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		<script src="../scripts/review_alarms.js"></script>
	</body>
</html>
